.card-row__heading {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    color: $color-gray-85;
}

.card-row__list {
    color: $color-gray-70;
    line-height: 1;
}