.card-row__heading {
    color: $color-gray-85;
    font-family: $font-heading;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
}

.card-row__list {
    color: $color-gray-70;
    line-height: 1;
}