.card-row {
    padding: 13px 0 19px;

    @media (min-width: $tablet-width) {
        padding: 26px 38px 28px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 20px;
    }

    @media (min-width: $desktop-width) {
        align-items: center;
        grid-template-columns: 1fr 80px 1fr 80px 1fr;
        column-gap: 0;
        padding: 13px 0;
    }
}

.card-row__heading {
    margin: 0;
    margin-bottom: 13px;

    color: $color-gray-85;
    font-family: $font-heading;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        margin-bottom: 0;

        font-size: 20px;
    }
}

.card-row__list {
    margin-top: 0;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    color: $color-gray-70;
    line-height: 1;

    @media (min-width: $tablet-width) {
        margin-bottom: 0;
        grid-template-columns: 1fr 82px;
    }

    @media (min-width: $desktop-width) {
        grid-column: 3 / 5;
    }
}

.card-row__definition {
    margin: 0;

    &:last-child {
        text-align: right;
    }

    @media (min-width: $tablet-width) {
        text-align: right;
    }

    @media (min-width: $desktop-width) {
        padding-right: 12px;

        text-align: left;

        &:last-child {
            text-align: left;
        }
    }
}

.card-row__button {
    width: 100%;

    @media (min-width: $tablet-width) {
        grid-column: 1 / -1;
    }

    @media (min-width: $desktop-width) {
        grid-column: 5 / 6;
    }
}
