.contacts {
   @media (min-width: $desktop-width) {
       position: relative;
       z-index: 0;

       min-height: 400px;
       padding: 40px 0 52px;
       display: grid;
       grid-template-columns: 1220px;
       align-items: center;
       justify-content: center;
   }
}

.contacts__container {
    width: 279px;
    margin-right: auto;
    margin-left: auto;
    padding: 26px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: $tablet-width) {
        width: 706px;
        padding: 56px 40px;
        grid-template-columns: 172px 170px;
        justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
        position: relative;
        z-index: 1;
        width: 565px;
        padding: 56px 80px;
        margin: 0;
        background-color: $color-white;
    }
}

.contacts__heading {
    font-family: $font-heading;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    margin: 0;
    padding-right: 10px;

    @media (min-width: $tablet-width) {
        padding-right: 0;
        font-size: 20px;
        line-height: 26px;
    }
}

.contacts__map {
    display: block;
    width: 100%;
    height: 632px;
    border: none;

    @media (min-width: $tablet-width) {
        height: 400px;
    }

    @media (min-width: $desktop-width) {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.contacts__address {
    color: $color-gray-70;
    line-height: 20px;
    margin: 0;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        text-align: right;
    }
}