.offer {
  padding: 186px 60px 43px;

  color: $color-white;
  background-color: $color-green;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 50% 58px, 50% 50%;
  background-image:
    url("/source/img/icons/gift.svg"),
    url("/source/img/background/catbag.jpg");

  font-size: 16px;
  text-align: center;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 70px 120px 70px 422px;
    background-position: 77px 50%, 50% 50%;

    text-align: left;
  }

  @media (min-width: $tablet-width) {
    padding: 178px 40px 48px;
    background-position: 50% 50px, 50% 50%;

    text-align: center;
  }
}


