.page-main__heading {
    margin: 0;
    margin-bottom: 40px;
    font-family: $font-heading;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    @media (min-width: $tablet-width) {
        margin-bottom: 32px;
        font-size: 60px;
        line-height: 60px;
    }
}

.page-main__header {
    padding: 28px 0 40px;
}


.page-main__subheading {
    margin: 0;

    font-family: $font-heading;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;
    }
}