.promo {
    padding: 20px;

    color: $color-white;
    background-color: $color-green;
    background-image: url("/source/img/background/promo.jpg");
    text-align: center;
}

.promo__heading {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
}

.promo__text {
    font-family: $font-heading;
    line-height: 14px;
    text-transform: uppercase;
}