.promo {
  padding-top: 27px;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    color: $color-white;
    background-color: $color-green-2;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image:
            url("/source/img/background/promo-small.jpg"),
            linear-gradient($color-green-2 0, $color-green-2 302px, $color-white 302px);
  }

  @media (min-width: $tablet-width) {
    color: $color-black;
    background-color: transparent;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -200px;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;

      background-color: $color-green-2;
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-image: url("/source/img/background/promo-large.jpg");
    }
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    position: relative;

    padding: 0 90px 526px;
  }

  @media (min-width: $desktop-width) {
    min-height: 582px;
    padding: 20px 610px 95px 80px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: $font-heading;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;

    font-size: 20px;
  }
}

.promo__image {
  width: 280px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 708px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: 30px;
    left: calc(50% - 162px);

    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    justify-self: start;
  }
}