.show-more__heading {
    font-size: $font-heading;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.show-more__text {
    color: $color-gray-70;
   
    font-size: 12px;
    line-height: 16px;
}