.site-menu {
    font-family: $font-heading;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    list-style: none;

    line-height: 1;
}

.site-menu__link {
    color: $color-black;
    text-decoration: none;
}