.social {
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__item {
  margin: 0 4px;
  display: flex;
  align-items: center;
}

.social__link {
  display: block;
  padding: 8px;
  color: $color-gray-60;

  &:hover {
    color: $color-green;
  }

  &:active {
    color: rgba($color-green, 0.3);
  }

  svg {
    display: block;
  }
}
