@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.site-menu {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  line-height: 1;
}

.site-menu__link {
  color: #000000;
  text-decoration: none;
}

.button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.promo {
  padding: 20px;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("/source/img/background/promo.jpg");
  text-align: center;
}

.promo__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
}

.page {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.page__body {
  margin: 0;
}

.page__main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.process {
  padding: 20px;
}

.process__list {
  color: #444444;
  list-style: none;
}

.catalog-sections__item {
  padding: 20px;
  color: #f2f2f2;
}

.catalog-sections__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.catalog-sections__text {
  font-size: 14px;
  color: #444444;
}

.catalog-sections__link {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.example {
  padding: 20px;
  background-color: #e5e5e5;
}

.example-list {
  text-align: center;
}

.example__title {
  color: #444444;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: lowercase;
          transform: lowercase;
}

.example__text {
  color: #444444;
}

.example__definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.example__spending {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.page-footer {
  padding: 20px;
  background-color: #f2f2f2;
}

.developer {
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-list {
  padding: 20px;
}

.card__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card__list {
  color: #444444;
  font-size: 12px;
}

.show-more__heading {
  font-size: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-additional {
  padding: 20px;
}

.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.catalog-additional__list {
  list-style: none;
}

.card-row__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #222222;
}

.card-row__list {
  color: #444444;
  line-height: 1;
}

.offer {
  padding: 40px;
  background-color: #68b738;
  background-image: url("/source/img/background/catbag.jpg");
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.contacts {
  padding: 20px;
}

.contacts__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  color: #444444;
  line-height: 20px;
}