@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.site-menu {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  list-style: none;
  line-height: 1;
}
@media (max-width: 767px) {
  .site-menu {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .site-menu__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: 768px) {
  .site-menu__item--active {
    position: relative;
  }
  .site-menu__item--active::after {
    content: "";
    position: absolute;
    bottom: 4px;
    right: 17px;
    left: 17px;
    height: 2px;
    background-color: #000000;
  }
}

.site-menu--main .site-menu__item--active::after {
  background-color: #ffffff;
}

.site-menu__link {
  display: block;
  padding: 23px 22px 22px;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 17px;
  }
}
.site-menu__link:link:hover {
  opacity: 0.6;
}
.site-menu__link:link:active {
  opacity: 0.3;
}

@media (min-width: 1200px) {
  .site-menu--main .site-menu__link {
    color: #ffffff;
  }
}

.button {
  display: inline-block;
  padding: 11px 12px;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 1;
  }
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.promo {
  padding-top: 27px;
  text-align: center;
}
@media (max-width: 767px) {
  .promo {
    color: #ffffff;
    background-color: #63a63b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url("/source/img/background/promo-small.jpg"), linear-gradient(#63a63b 0, #63a63b 302px, #ffffff 302px);
  }
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    background-color: transparent;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .promo {
    position: relative;
  }
  .promo::after {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -2;
    background-color: #63a63b;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url("/source/img/background/promo-large.jpg");
  }
}

@media (min-width: 768px) {
  .promo__container {
    position: relative;
    padding: 0 90px 526px;
  }
}
@media (min-width: 1200px) {
  .promo__container {
    min-height: 582px;
    padding: 20px 610px 95px 80px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}
@media (min-width: 768px) {
  .promo__heading {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    margin-bottom: 49px;
    font-size: 20px;
  }
}

.promo__image {
  width: 280px;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 708px;
    height: 609px;
  }
}
@media (min-width: 1200px) {
  .promo__image {
    top: 30px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
}
@media (min-width: 768px) {
  .promo__button {
    width: auto;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  margin: 0;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.page__main__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .page__main__heading {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__subheading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.process {
  padding: 20px;
}

.process__list {
  color: #444444;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .process__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1200px) {
  .process__list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .process__item + .process__item {
    margin-top: 20px;
  }
}
.process__item::before {
  content: "";
  width: 60px;
  height: 60px;
  margin-top: -2px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .process__item::after {
    content: counter(process);
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
    color: #f2f2f2;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 1;
  }
}

.process__item--leaf::before {
  background-image: url("/source/img/icons/leaf.svg");
}

.process__item--powder::before {
  background-image: url("/source/img/icons/powder.svg");
}

.process__item--meal::before {
  background-image: url("/source/img/icons/meal.svg");
}

.process__item--weight::before {
  background-image: url("/source/img/icons/weight.svg");
}

.catalog-sections {
  padding-top: 20px;
}
@media (min-width: 1200px) {
  .catalog-sections {
    padding-top: 82px;
  }
}

@media (min-width: 1200px) {
  .catalog-section__container {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  position: relative;
  padding: 24px 20px 20px;
  color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-sections__item {
    padding: 77px 316px 52px 52px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__item {
    padding: 47px 51px 55px;
  }
}
.catalog-sections__item + .catalog-sections__item {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}

.catalog-sections__heading {
  position: relative;
  min-height: 50px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    position: static;
    padding-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__heading {
    position: relative;
    min-height: 100px;
    margin-bottom: 38px;
    padding-left: 162px;
  }
}
.catalog-sections__heading::before, .catalog-sections__heading::after {
  content: "";
  position: absolute;
}
.catalog-sections__heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    top: calc(50% - 100px);
    right: 62px;
    left: auto;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__heading {
    top: calc(50% - 50px);
    right: auto;
    left: 0;
    width: 100px;
    height: 100px;
  }
}
.catalog-sections__heading::after {
  background-size: contain;
}

.catalog-sections__heading--slim::after {
  top: -3px;
  left: 7px;
  width: 37px;
  height: 50px;
  background-image: url("/source/img/icons/cat-slim.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--slim::after {
    top: calc(50% - 110px);
    right: 92px;
    left: auto;
    width: 140px;
    height: 193px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__heading--slim::after {
    top: calc(50% - 54px);
    left: 15px;
    width: 70px;
    height: 97px;
  }
}

.catalog-sections__heading--pro::after {
  top: 11px;
  left: -10px;
  width: 67px;
  height: 28px;
  background-image: url("/source/img/icons/cat-pro.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--pro::after {
    top: calc(50% - 56px);
    right: 27px;
    left: auto;
    width: 267px;
    height: 112px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__heading--pro::after {
    top: calc(50% - 22px);
    left: -18px;
    width: 134px;
    height: 56px;
  }
}

.catalog-sections__text {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    margin-bottom: 48px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__text {
    margin-bottom: 23px;
  }
}

.catalog-sections__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 17px 32px;
  -ms-grid-columns: max-content 17px 32px;
  grid-template-columns: -webkit-max-content 32px;
  grid-template-columns: max-content 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    font-size: 20px;
  }
}
.catalog-sections__link::after {
  content: "";
  width: 24px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: url("/source/img/icons/arrow.svg");
}
.catalog-sections__link::after:hover::after {
  width: 32px;
}
.catalog-sections__link::after:active {
  opacity: 0.3;
}
.catalog-sections__link::after::after {
  width: 32px;
}

.example {
  padding: 20px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    border-top: px solid #e6e6e6;
    background-image: linear-gradient(to top, #e5e5e5 462px, #ffffff 462px);
  }
}
@media (min-width: 1200px) {
  .example {
    padding-bottom: 75px;
  }
}

@media (min-width: 1200px) {
  .example__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__content {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 369px 1fr;
    grid-template-columns: 369px 1fr;
    -ms-grid-column: 34;
    grid-column: 34px;
    margin-bottom: 78px;
  }
}
@media (min-width: 1200px) {
  .example__content {
    margin-bottom: 0;
    -ms-grid-columns: 366px 70px 1fr;
    grid-template-columns: 366px 70px 1fr;
  }
}

@media (min-width: 768px) {
  .example__heading {
    grid-column: 1/-1;
  }
}

.example-list {
  margin-top: 0;
  margin-bottom: 34px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .example-list {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .example-list {
    margin-bottom: 60px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    gap: 42px;
  }
}

.example__item {
  padding: 14px 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .example__item {
    padding-top: 16px;
  }
}

.example__title {
  width: 87px;
  margin-bottom: -12px;
  padding: 0 4px;
  color: #444444;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: lowercase;
          transform: lowercase;
}
@media (min-width: 768px) {
  .example__title {
    width: auto;
    margin-bottom: -6px;
    padding: 0 7px;
    background-color: #ffffff;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .example__title {
    background-color: #e5e5e5;
  }
}

.example__text {
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__text {
    grid-column: 1/-1;
    margin-top: 63px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .example__text {
    grid-column: 1/-2;
    margin-top: 146px;
    margin-bottom: 70px;
  }
}

.example__definition {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__definition {
    margin-bottom: 14px;
    font-size: 30px;
  }
}

.example__spending {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__spending {
    padding-left: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 20px;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .example__spending {
    padding-left: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 42px 1fr;
    grid-template-columns: 1fr 42px 1fr;
    text-align: left;
  }
  .example__spending span:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .example__spending span:last-child {
    text-align: center;
  }
}

.example__images {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .example__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 1fr;
    grid-template-columns: 50% 1fr;
    padding: 0 58px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .example__images {
    padding: 0;
  }
}

.example__image {
  display: none;
}
@media (min-width: 768px) {
  .example__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .example__image img {
    width: 594px;
    height: 511px;
    max-width: none;
  }
}

@media (min-width: 768px) {
  .example__image--after {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.example__image--active {
  display: block;
}

.page-footer {
  padding: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 58px 0 55px;
  }
}

@media (min-width: 768px) {
  .page-footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 164px 16px 1fr 16px 164px;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .page-footer__logo {
    margin-bottom: 24px;
  }
}

.page-footer__social {
  margin: 0;
}
@media (max-width: 767px) {
  .page-footer__social {
    margin-bottom: 22px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}
.developer:hover .developer__image {
  color: #68b738;
}
.developer:active {
  opacity: 0.3;
}
.developer:active .developer__image {
  color: #68b738;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-list {
  padding: 20px 0;
}

@media (min-width: 768px) {
  .catalog-list__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1200px) {
  .catalog-list__container {
    -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    row-gap: 63px;
  }
}

@media (min-width: 768px) {
  .card {
    background-color: #f2f2f2;
  }
}

.card__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card__list {
  color: #444444;
  font-size: 12px;
}

.show-more__heading {
  font-size: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-additional {
  padding: 20px 0;
}

.catalog-additional__container {
  display: -ms-grid;
  display: grid;
}
@media (min-width: 1200px) {
  .catalog-additional__container {
    -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .catalog-additional__heading {
    grid-column: 1/-1;
  }
}

.catalog-additional__list {
  list-style: none;
}
@media (min-width: 1200px) {
  .catalog-additional__list {
    grid-column: 1/-2;
  }
}

.card-row__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

.card-row__list {
  color: #444444;
  line-height: 1;
}

.offer {
  padding: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #68b738;
  background-image: url("/source/img/background/catbag.jpg");
}

@media (min-width: 1200px) {
  .contacts {
    position: relative;
    z-index: 0;
    min-height: 400px;
    padding: 40px 0 52px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1220px;
    grid-template-columns: 1220px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts__container {
  width: 279px;
  margin-right: auto;
  margin-left: auto;
  padding: 26px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .contacts__container {
    width: 706px;
    padding: 56px 40px;
    -ms-grid-columns: 172px 170px;
    grid-template-columns: 172px 170px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .contacts__container {
    position: relative;
    z-index: 1;
    width: 565px;
    padding: 56px 80px;
    margin: 0;
    background-color: #ffffff;
  }
}

.contacts__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .contacts__heading {
    padding-right: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 632px;
  border: none;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacts__map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.contacts__address {
  color: #444444;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
  }
}

switcher {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49px 13px 1fr 13px 49px;
  grid-template-columns: 49px 1fr 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  padding: 0 35px;
}
@media (min-width: 768px) {
  switcher {
    -ms-grid-columns: 70px 1fr 70px;
    grid-template-columns: 70px 1fr 70px;
    padding: 0 58px;
  }
}
@media (min-width: 1200px) {
  switcher {
    padding: 0;
  }
}

.switcher__button {
  display: block;
  padding: 0 2px 2px;
  background-color: transparent;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .switcher__button {
    padding: 0;
    padding-bottom: 4px;
    -ms-grid-column-align: center;
        justify-self: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    font-size: 20px;
  }
  .switcher__button:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .switcher__button:active {
    border-bottom-color: transparent;
  }
}

.switcher__toggler {
  padding: 4px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
.switcher__toggler::after {
  content: "";
  width: 36px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}
.switcher--after .switcher__toggler {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.switcher--before .switcher__toggler {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 768px) {
  .switcher__toggler {
    display: none;
  }
}

.switcher__bar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}
@media (max-width: 767px) {
  .switcher__bar {
    display: none;
  }
}

.switcher__bar::-moz-range-thumb {
  height: 30px;
  width: 30px;
  padding: 0;
  box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-moz-range-thumb:hover {
  box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-moz-range-thumb:active {
  box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.switcher__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 30px;
  width: 30px;
  margin-top: -12px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  -webkit-box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-webkit-slider-thumb:active {
  -webkit-box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.switcher__bar::-webkit-slider-runnable-track,
.switcher__bar::-moz-range-track {
  height: 8px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

.switcher__bar::-webkit-slider-runnable-track {
  height: 8px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

.control {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.field {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.field-group {
  padding: 20px 0;
  border: none;
}

.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.field-group__list {
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .field-group__list--contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 78px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 78px;
       -moz-column-gap: 78px;
            column-gap: 78px;
  }
}

@media (min-width: 1200px) {
  .field-group__list--additional {
    -ms-grid-columns: 1fr 1fr 1fr 1f;
    grid-template-columns: 1fr 1fr 1fr 1f;
  }
}

.form {
  padding: 20px;
}

.form__group {
  margin: 0;
}

@media (min-width: 1200px) {
  .form__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

.form__group {
  margin: 0;
}

@media (min-width: 1200px) {
  .form__group--contact,
.form__group--comment,
.form__group--addtional {
    grid-column: 1/-1;
  }
}

@media (min-width: 1200px) {
  .form__footer {
    grid-column: 1/-1;
  }
}

@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 174px 17px 1fr;
    grid-template-columns: 174px 1fr;
    gap: 17px;
  }
}
@media (min-width: 1200px) {
  .page-header__nav {
    width: 1220px;
  }
}

@media (min-width: 1200px) {
  .page-header__nav--main {
    -ms-grid-columns: 175px 50%;
    grid-template-columns: 175px 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .page-header__bar {
    width: 320px;
    margin: 0 auto;
    padding: 10px 20px 18px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 34px 16px 1fr 16px 34px;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.page-header__toggler {
  width: 40px;
  height: 40px;
  display: none;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/source/img/icons/burger.svg");
}
@media (max-width: 767px) {
  .page-header__nav--closed .page-header__toggler {
    display: block;
  }
  .page-header__nav--opened .page-header__toggler {
    display: block;
    background-image: url("/source/img/icons/close.svg");
  }
}
@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}

.page-header__menu {
  margin: 0;
}
@media (max-width: 767px) {
  .page-header__menu {
    background-color: #ffffff;
  }
  .page-header__nav--closed .page-header__menu {
    display: none;
  }
  .page-header__nav--opened .page-header__menu {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  .page-header__menu {
    margin-right: -17px;
  }
}

.container {
  width: 281px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1220px;
  }
}

.logo:not(.logo__footer) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34px 16px 1fr;
  grid-template-columns: 34px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.logo:link:hover {
  opacity: 0.8;
}
.logo:link:active {
  opacity: 0.6;
}
.logo img {
  display: block;
}

.logo__sign {
  -ms-grid-column-align: center;
      justify-self: center;
}

.logo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 767px) {
  .logo__footer {
    padding: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
@media (min-width: 768px) {
  .social {
    padding: 0;
  }
}

.social__item {
  margin: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: block;
  padding: 8px;
  color: #666666;
}
.social__link:hover {
  color: #68b738;
}
.social__link:active {
  color: rgba(104, 183, 56, 0.3);
}
.social__link svg {
  display: block;
}