@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.site-menu {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  list-style: none;
}
@media (max-width: 767px) {
  .site-menu {
    border-top: 1px solid #e6e6e6;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .site-menu__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: 768px) {
  .site-menu__item--active {
    position: relative;
  }
  .site-menu__item--active::after {
    content: "";
    position: absolute;
    bottom: 4px;
    right: 17px;
    left: 17px;
    height: 2px;
    background-color: #68b738;
  }
}

.site-menu--main .site-menu__item--active::after {
  background-color: #ffffff;
}

.site-menu__link {
  display: block;
  padding: 23px 22px 22px;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 17px;
  }
}
.site-menu__link:link:hover {
  opacity: 0.6;
}
.site-menu__link:link:active {
  opacity: 0.3;
}

@media (min-width: 1200px) {
  .site-menu--main .site-menu__link {
    color: #ffffff;
  }
}

.button {
  display: inline-block;
  padding: 11px 12px;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 1;
  }
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}
.button--secondary:hover {
  background-color: #ebebeb;
}
.button--secondary:active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}

.button--fixed {
  font-size: 16px;
}

.button--large {
  font-size: 16px;
}
@media (min-width: 768px) {
  .button--large {
    font-size: 20px;
  }
}

.promo {
  padding-top: 27px;
  text-align: center;
}
@media (max-width: 767px) {
  .promo {
    color: #ffffff;
    background-color: #63a63b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url("/source/img/background/promo-small.jpg"), linear-gradient(#63a63b 0, #63a63b 302px, #ffffff 302px);
  }
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    background-color: transparent;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .promo {
    position: relative;
  }
  .promo::after {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -2;
    background-color: #63a63b;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url("/source/img/background/promo-large.jpg");
  }
}

@media (min-width: 768px) {
  .promo__container {
    position: relative;
    padding: 0 90px 526px;
  }
}
@media (min-width: 1200px) {
  .promo__container {
    min-height: 582px;
    padding: 20px 610px 95px 80px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}
@media (min-width: 768px) {
  .promo__heading {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    margin-bottom: 49px;
    font-size: 20px;
  }
}

.promo__image {
  width: 280px;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 708px;
    height: 609px;
  }
}
@media (min-width: 1200px) {
  .promo__image {
    top: 30px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
}
@media (min-width: 768px) {
  .promo__button {
    width: auto;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  margin: 0;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.page-main__header {
  padding: 28px 0 40px;
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
@media (min-width: 768px) {
  .page-main__heading {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__subheading {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__subheading {
    font-size: 20px;
    line-height: 30px;
  }
}

.process {
  padding: 20px;
  padding-bottom: 49px;
}

.process__list {
  margin: 0;
  padding: 0;
  color: #444444;
  list-style: none;
}
@media (min-width: 768px) {
  .process__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    row-gap: 36px;
    counter-reset: process;
  }
}
@media (min-width: 1200px) {
  .process__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

.process__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 20px 1fr;
  grid-template-columns: 60px 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .process__item {
    position: relative;
    z-index: 0;
    min-height: 280px;
    padding-top: 40px;
    padding-right: 72px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 80px auto;
    grid-template-rows: 80px auto;
    counter-increment: process;
  }
  .process__item > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .process__item > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 767px) {
  .process__item + .process__item {
    margin-top: 22px;
  }
}
.process__item::before {
  content: "";
  width: 60px;
  height: 60px;
  margin-top: -2px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .process__item::after {
    content: counter(process);
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
    color: #f2f2f2;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 1;
  }
}

.process__item--leaf::before {
  background-image: url("/source/img/icons/leaf.svg");
}

.process__item--powder::before {
  background-image: url("/source/img/icons/powder.svg");
}

.process__item--meal::before {
  background-image: url("/source/img/icons/meal.svg");
}

.process__item--weight::before {
  background-image: url("/source/img/icons/weight.svg");
}

.catalog-sections {
  padding-top: 20px;
}
@media (min-width: 1200px) {
  .catalog-sections {
    padding-top: 82px;
  }
}

@media (min-width: 1200px) {
  .catalog-section__container {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  position: relative;
  padding: 24px 20px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-sections__item {
    padding: 77px 316px 52px 52px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__item {
    padding: 47px 51px 55px;
  }
}
.catalog-sections__item + .catalog-sections__item {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}

.catalog-sections__heading {
  position: relative;
  min-height: 50px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    position: static;
    padding-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__heading {
    position: relative;
    min-height: 100px;
    margin-bottom: 38px;
    padding-left: 162px;
  }
}
.catalog-sections__heading::before, .catalog-sections__heading::after {
  content: "";
  position: absolute;
}
.catalog-sections__heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    top: calc(50% - 100px);
    right: 62px;
    left: auto;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__heading {
    top: calc(50% - 50px);
    right: auto;
    left: 0;
    width: 100px;
    height: 100px;
  }
}
.catalog-sections__heading::after {
  background-size: contain;
}

.catalog-sections__heading--slim::after {
  top: -3px;
  left: 7px;
  width: 37px;
  height: 50px;
  background-image: url("/source/img/icons/cat-slim.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--slim::after {
    top: calc(50% - 110px);
    right: 92px;
    left: auto;
    width: 140px;
    height: 193px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__heading--slim::after {
    top: calc(50% - 54px);
    left: 15px;
    width: 70px;
    height: 97px;
  }
}

.catalog-sections__heading--pro::after {
  top: 11px;
  left: -10px;
  width: 67px;
  height: 28px;
  background-image: url("/source/img/icons/cat-pro.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--pro::after {
    top: calc(50% - 56px);
    right: 27px;
    left: auto;
    width: 267px;
    height: 112px;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__heading--pro::after {
    top: calc(50% - 22px);
    left: -18px;
    width: 134px;
    height: 56px;
  }
}

.catalog-sections__text {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    margin-bottom: 48px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .catalog-sections__text {
    margin-bottom: 23px;
  }
}

.catalog-sections__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 17px 32px;
  -ms-grid-columns: max-content 17px 32px;
  grid-template-columns: -webkit-max-content 32px;
  grid-template-columns: max-content 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    font-size: 20px;
  }
}
.catalog-sections__link::after {
  content: "";
  width: 24px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: url("/source/img/icons/arrow.svg");
}
.catalog-sections__link::after:hover::after {
  width: 32px;
}
.catalog-sections__link::after:active {
  opacity: 0.3;
}
.catalog-sections__link::after::after {
  width: 32px;
}

.example {
  padding: 25px 0 40px;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    border-top: px solid #e6e6e6;
    background-image: linear-gradient(to top, #ebebeb 462px, #ffffff 462px);
  }
}
@media (min-width: 1200px) {
  .example {
    padding-bottom: 75px;
  }
}

@media (min-width: 1200px) {
  .example__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__content {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 367px 1fr;
    grid-template-columns: 367px 1fr;
    -ms-grid-column: 32;
    grid-column: 32px;
    margin-bottom: 79px;
  }
}
@media (min-width: 1200px) {
  .example__content {
    margin-bottom: 0;
    -ms-grid-columns: 366px 70px 1fr;
    grid-template-columns: 366px 70px 1fr;
  }
}

@media (min-width: 768px) {
  .example__heading {
    grid-column: 1/-1;
  }
}

.example-list {
  margin-top: 0;
  margin-bottom: 34px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .example-list {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .example-list {
    margin-bottom: 60px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    gap: 42px;
  }
}

.example__item {
  padding: 14px 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .example__item {
    padding-top: 16px;
  }
}

.example__title {
  width: 87px;
  margin-bottom: -12px;
  padding: 0 4px;
  color: #444444;
  background-color: #ebebeb;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: lowercase;
          transform: lowercase;
}
@media (min-width: 768px) {
  .example__title {
    width: auto;
    margin-bottom: -6px;
    padding: 0 7px;
    background-color: #ffffff;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .example__title {
    background-color: #ebebeb;
  }
}

.example__text {
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__text {
    grid-column: 1/-1;
    margin-top: 63px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .example__text {
    grid-column: 1/-2;
    margin-top: 146px;
    margin-bottom: 70px;
  }
}

.example__definition {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__definition {
    margin-bottom: 14px;
    font-size: 30px;
  }
}

.example__spending {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__spending {
    padding-left: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 20px;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .example__spending {
    padding-left: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 42px 1fr;
    grid-template-columns: 1fr 42px 1fr;
    text-align: left;
  }
  .example__spending span:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .example__spending span:last-child {
    text-align: center;
  }
}

.example__images {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .example__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 1fr;
    grid-template-columns: 50% 1fr;
    padding: 0 58px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .example__images {
    padding: 0;
  }
}

.example__image {
  display: none;
}
@media (min-width: 768px) {
  .example__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .example__image img {
    width: 594px;
    height: 511px;
    max-width: none;
  }
}

@media (min-width: 768px) {
  .example__image--after {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.example__image--active {
  display: block;
}

.page-footer {
  padding: 20px 0 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 58px 0 55px;
  }
}

@media (min-width: 768px) {
  .page-footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 164px 16px 1fr 16px 164px;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .page-footer__logo {
    margin-bottom: 24px;
  }
}

.page-footer__social {
  margin: 0;
}
@media (max-width: 767px) {
  .page-footer__social {
    margin-bottom: 22px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}
.developer:hover .developer__image {
  color: #68b738;
}
.developer:active {
  opacity: 0.3;
}
.developer:active .developer__image {
  color: #68b738;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-list {
  overflow: hidden;
}
@media (max-width: 767px) {
  .catalog-list {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: 768px) {
  .catalog-list__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1200px) {
  .catalog-list__container {
    -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    row-gap: 63px;
  }
}

@media (max-width: 767px) {
  .catalog-list__item {
    position: relative;
  }
  .catalog-list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
  }
}

@media (min-width: 768px) {
  .catalog-list__item--show-more {
    margin-top: 80px;
  }
}

.card {
  padding-top: 19px;
  padding-bottom: 25px;
  display: -ms-grid;
  display: grid;
}
@media (max-width: 767px) {
  .card {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "img link" "img list" "button button";
  }
}
@media (min-width: 768px) {
  .card {
    padding: 8px 38px 40px;
    -ms-grid-rows: 200px auto;
    grid-template-rows: 200px auto;
        grid-template-areas: "img" "link" "list" "button";
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #ffffff 80px, #f2f2f2 80px);
  }
}

.card__link {
  margin-bottom: 9px;
  padding-right: 60px;
  grid-area: link;
  color: #222222;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card__link {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  .card__link {
    padding: 0 20px;
  }
}

.card__heading {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card__heading {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__list {
  color: #444444;
  font-size: 12px;
  margin: 0;
  margin-bottom: 13px;
  padding: 9px 0;
  grid-area: list;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;
}
@media (min-width: 768px) {
  .card__list {
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.card__img {
  grid-area: img;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card__title {
  margin: 0;
  padding-right: 4px;
}
@media (min-width: 768px) {
  .card__title {
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__definition {
  margin: 0;
  padding-left: 4px;
  text-align: right;
}
@media (min-width: 768px) {
  .card__definition {
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__button {
  grid-area: button;
}

@media (max-width: 767px) {
  .card__link {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .card__list {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .card__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .card__button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (min-width: 768px) {
  .card__link {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .card__list {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .card__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .card__button {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

.show-more {
  padding: 78px 0 25px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 25px;
  background-image: url("/source/img/icons/plus-small.svg");
}
@media (min-width: 768px) {
  .show-more {
    padding: 160px 38px 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: 50% 52px;
    background-image: url("/source/img/icons/plus-large.svg");
    border: 1px solid #f2f2f2;
  }
}

.show-more__heading {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .show-more__heading {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .show-more__text {
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  width: 100%;
}
@media (min-width: 768px) {
  .show-more__button {
    margin-top: auto;
  }
}

.catalog-additional {
  position: relative;
  z-index: 0;
  padding: 25px 0 20px;
}
.catalog-additional::before {
  content: "";
  position: absolute;
  top: 41px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog-additional {
    padding-top: 68px;
    padding-bottom: 76px;
  }
  .catalog-additional::before {
    top: 88px;
  }
}
@media (min-width: 1200px) {
  .catalog-additional {
    padding-bottom: 86px;
  }
}

.catalog-additional__container {
  display: -ms-grid;
  display: grid;
}
@media (min-width: 1200px) {
  .catalog-additional__container {
    -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

.catalog-additional__heading {
  margin: 0;
  margin-left: -20px;
  margin-bottom: 36px;
  padding: 0 20px;
  -ms-grid-column-align: start;
      justify-self: start;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-additional__heading {
    margin-left: 0;
    margin-bottom: 80px;
    padding: 0 36px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .catalog-additional__heading {
    margin-left: -40px;
    padding: 0 35px 0 40px;
    grid-column: 1/-1;
  }
}

.catalog-additional__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog-additional__list {
    margin-bottom: 70px;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1200px) {
  .catalog-additional__list {
    margin-bottom: 0;
    grid-column: 1/-2;
    border: none;
  }
}

.catalog-additional__item {
  border-top: 1px solid #cdcdcd;
}
@media (max-width: 767px) {
  .catalog-additional__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 768px) {
  .catalog-additional__item:first-child {
    border-top: none;
  }
}
@media (min-width: 1200px) {
  .catalog-additional__item:first-child {
    border-top: 1px solid #cdcdcd;
  }
  .catalog-additional__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.card-row {
  padding: 13px 0 19px;
}
@media (min-width: 768px) {
  .card-row {
    padding: 26px 38px 28px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .card-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 0 80px 0 1fr 0 80px 0 1fr;
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    padding: 13px 0;
  }
}

.card-row__heading {
  margin: 0;
  margin-bottom: 13px;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card-row__heading {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.card-row__list {
  margin-top: 0;
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  color: #444444;
  line-height: 1;
}
@media (min-width: 768px) {
  .card-row__list {
    margin-bottom: 0;
    -ms-grid-columns: 1fr 82px;
    grid-template-columns: 1fr 82px;
  }
}
@media (min-width: 1200px) {
  .card-row__list {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}

.card-row__definition {
  margin: 0;
}
.card-row__definition:last-child {
  text-align: right;
}
@media (min-width: 768px) {
  .card-row__definition {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .card-row__definition {
    padding-right: 12px;
    text-align: left;
  }
  .card-row__definition:last-child {
    text-align: left;
  }
}

.card-row__button {
  width: 100%;
}
@media (min-width: 768px) {
  .card-row__button {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .card-row__button {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }
}

.offer {
  padding: 186px 60px 43px;
  color: #ffffff;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 50% 58px, 50% 50%;
  background-image: url("/source/img/icons/gift.svg"), url("/source/img/background/catbag.jpg");
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
@media (min-width: 768px) {
  .offer {
    padding: 70px 120px 70px 422px;
    background-position: 77px 50%, 50% 50%;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .offer {
    padding: 178px 40px 48px;
    background-position: 50% 50px, 50% 50%;
    text-align: center;
  }
}

.contacts::not(.contacts--main) {
  background-color: #f2f2f2;
}
@media (min-width: 1200px) {
  .contacts {
    position: relative;
    z-index: 0;
    min-height: 400px;
    padding: 40px 0 52px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1220px;
    grid-template-columns: 1220px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
  }
}

.contacts__container {
  width: 279px;
  margin-right: auto;
  margin-left: auto;
  padding: 26px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .contacts__container {
    width: 706px;
    padding: 56px 40px;
    -ms-grid-columns: 172px 172px;
    grid-template-columns: 172px 172px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .contacts__container {
    position: relative;
    z-index: 1;
    width: 565px;
    padding: 56px 80px;
    margin: 0;
    background-color: #ffffff;
  }
}

.contacts__heading {
  margin: 0;
  padding-right: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__heading {
    padding-right: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacts__map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.contacts__address {
  color: #444444;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
  }
}

switcher {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49px 13px 1fr 13px 49px;
  grid-template-columns: 49px 1fr 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  padding: 0 35px;
}
@media (min-width: 768px) {
  switcher {
    -ms-grid-columns: 70px 1fr 70px;
    grid-template-columns: 70px 1fr 70px;
    padding: 0 58px;
  }
}
@media (min-width: 1200px) {
  switcher {
    padding: 0;
  }
}

.switcher__button {
  display: block;
  padding: 0 2px 2px;
  background-color: transparent;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .switcher__button {
    padding: 0;
    padding-bottom: 4px;
    -ms-grid-column-align: center;
        justify-self: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    font-size: 20px;
  }
  .switcher__button:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .switcher__button:active {
    border-bottom-color: transparent;
  }
}

.switcher__toggler {
  padding: 4px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
.switcher__toggler::after {
  content: "";
  width: 36px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}
.switcher--after .switcher__toggler {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.switcher--before .switcher__toggler {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 768px) {
  .switcher__toggler {
    display: none;
  }
}

.switcher__bar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}
@media (max-width: 767px) {
  .switcher__bar {
    display: none;
  }
}

.switcher__bar::-moz-range-thumb {
  height: 30px;
  width: 30px;
  padding: 0;
  box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-moz-range-thumb:hover {
  box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-moz-range-thumb:active {
  box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.switcher__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 30px;
  width: 30px;
  margin-top: -12px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  -webkit-box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-webkit-slider-thumb:active {
  -webkit-box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.switcher__bar::-webkit-slider-runnable-track,
.switcher__bar::-moz-range-track {
  height: 8px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

.switcher__bar::-webkit-slider-runnable-track {
  height: 8px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

.control {
  position: relative;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 16px 1fr;
  grid-template-columns: 30px 1fr;
  gap: 16px;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .control {
    -ms-grid-columns: 40px 20px 1fr;
    grid-template-columns: 40px 1fr;
    gap: 20px;
  }
}

.control__input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 30px;
  margin: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  opacity: 0;
}
@media (min-width: 768px) {
  .control__input {
    height: 40px;
  }
}

.control__lead {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 16px 1fr;
  grid-template-columns: 30px 1fr;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.control__lead::before, .control__lead::after {
  content: "";
  height: 30px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.control__lead::before {
  border: 1px solid #cdcdcd;
}
.control__lead:hover::before {
  border-color: #bababa;
}
.control__input:focus + .control__lead::before {
  outline: 2px solid #222222;
  outline-offset: -2px;
}
.control__input:disabled + .control__lead {
  opacity: 0.3;
}
.control__input:disabled + .control__lead::before {
  border-color: #bababa;
}
.control--radio .control__lead::before {
  border-radius: 50%;
}
.control--radio .control__input:checked + .control__lead::after {
  background-clip: padding-box;
  background-color: #68b738;
  border: 8px solid transparent;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .control--radio .control__input:checked + .control__lead::after {
    border-width: 11px;
  }
}
.control--checkbox .control__input:checked + .control__lead::after {
  background-repeat: no-repeat;
  background-position: calc(50% + 1px) 50%;
  background-image: url("/source/img/icons/check.svg");
}
@media (min-width: 768px) {
  .control--checkbox .control__input:checked + .control__lead::after {
    background-size: 24px auto;
  }
}
@media (min-width: 768px) {
  .control__lead {
    -ms-grid-columns: 40px 20px 1fr;
    grid-template-columns: 40px 1fr;
    gap: 20px;
    font-size: 20px;
  }
  .control__lead::before, .control__lead::after {
    height: 40px;
  }
}

.field {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 14px 1fr;
  -ms-grid-columns: max-content 14px 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field {
    font-size: 20px;
  }
}

.field__input {
  min-width: 100px;
  padding: 9px 14px;
  color: #222222;
  border: 1px solid #e6e6e6;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
}
.field__input:hover {
  border-color: #dcdcdc;
}
.field__input:focus {
  outline: 2px solid #444444;
  outline-offset: -2px;
}
.field__input:not(:-moz-placeholder-shown):invalid {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}
.field__input:not(:-ms-input-placeholder):invalid {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}
.field__input:not(:placeholder-shown):invalid {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}
.field__input::-webkit-input-placeholder {
  opacity: 1;
}
.field__input::-moz-placeholder {
  opacity: 1;
}
.field__input:-ms-input-placeholder {
  opacity: 1;
}
.field__input::-ms-input-placeholder {
  opacity: 1;
}
.field__input::placeholder {
  opacity: 1;
}
.field--no-label .field__input {
  grid-column: 1/-1;
}
.field--icon .field__input {
  padding-right: 42px;
}
@media (min-width: 768px) {
  .field__input {
    padding: 10px 18px;
    font-size: 20px;
  }
  .field--icon .field__input {
    padding-right: 50px;
  }
}

.field__icon {
  position: absolute;
  right: 8px;
  top: calc(50% - 12px);
}
@media (min-width: 768px) {
  .field__icon {
    right: 14px;
  }
}
.field__input:focus + .field__icon {
  color: #68b738;
}
.field__input:not(:-moz-placeholder-shown):invalid + .field__icon {
  color: #ff8282;
}
.field__input:not(:-ms-input-placeholder):invalid + .field__icon {
  color: #ff8282;
}
.field__input:not(:placeholder-shown):invalid + .field__icon {
  color: #ff8282;
}

.field-group {
  padding: 0;
  border: none;
}

.field-group--target {
  padding: 21px;
}
@media (min-width: 768px) {
  .field-group--target {
    padding: 25px;
  }
}

.field-group__heading {
  margin-bottom: 35px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}
.field-group__heading::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 2px;
  margin-top: 16px;
  background-color: #68b738;
}
.field-group__heading span {
  position: relative;
  z-index: 1;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: -22px;
  padding: 0 22px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .field-group__heading {
    font-size: 36px;
    line-height: 36px;
  }
  .field-group__heading::before {
    margin-top: 22px;
  }
  .field-group__heading span {
    width: auto;
    margin-left: -42px;
    padding: 0 42px;
  }
}
@media (min-width: 1200px) {
  .field-group__heading {
    margin-bottom: 72px;
  }
}

.field-group__field {
  clear: both;
  width: 100%;
}

.field-group__list {
  margin: 0;
  padding: 0;
  clear: both;
  list-style: none;
}

@media (min-width: 1200px) {
  .field-group__list--contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

@media (min-width: 768px) {
  .field-group__list--additional {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    row-gap: 32px;
  }
}
@media (min-width: 1200px) {
  .field-group__list--additional {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

.field-group__item + .field-group__item {
  margin-top: 14px;
}
@media (min-width: 768px) {
  .field-group__item + .field-group__item {
    margin-top: 20px;
  }
  .field-group__list--additional .field-group__item + .field-group__item {
    margin-top: 0;
  }
  .field-group__list--target .field-group__item + .field-group__item {
    margin-top: 13px;
  }
}
@media (min-width: 1200px) {
  .field-group__list--contacts .field-group__item + .field-group__item {
    margin-top: 0;
  }
}

.form {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .form {
    padding-top: 26px;
  }
}

@media (min-width: 1200px) {
  .form__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

.form__group {
  margin: 0;
}
.form__group + .form__group {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .form__group + .form__group {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .form__group + .form__group.form__group--target {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .form__group--contact,
.form__group--comment,
.form__group--additional {
    grid-column: 1/-1;
  }
}

.form__group--target {
  margin-right: -21px;
  margin-left: -21px;
  border: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form__group--target {
    margin-right: 0;
    margin-left: 0;
  }
}

.form__footer {
  margin-top: 34px;
  padding-bottom: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .form__footer {
    margin-top: 54px;
    padding-bottom: 72px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .form__footer {
    grid-column: 1/-1;
  }
}

.form__button {
  width: 100%;
}
@media (max-width: 767px) {
  .form__button {
    margin-bottom: 21px;
  }
}

.form__additional {
  margin: 0;
}

@media (max-width: 767px) {
  .page-header__nav:not(.page-header__nav--main) {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-max-content 16px 1fr;
    -ms-grid-columns: max-content 16px 1fr;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    gap: 16px;
  }
}
@media (min-width: 1200px) {
  .page-header__nav {
    width: 1220px;
  }
}

@media (min-width: 1200px) {
  .page-header__nav--main {
    -ms-grid-columns: -webkit-max-content 50%;
    -ms-grid-columns: max-content 50%;
    grid-template-columns: -webkit-max-content 50%;
    grid-template-columns: max-content 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .page-header__bar {
    width: 320px;
    margin: 0 auto;
    padding: 12px 20px 13px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 34px 16px 1fr 16px 34px;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.page-header__menu {
  margin: 0;
}
@media (max-width: 767px) {
  .page-header__menu {
    background-color: #ffffff;
  }
  .page-header__nav--closed .page-header__menu {
    display: none;
  }
  .page-header__nav--opened .page-header__menu {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    display: block;
  }
}
@media (min-width: 768px) {
  .page-header__menu {
    margin-right: -17px;
  }
}

.page-header__toggler {
  width: 40px;
  height: 40px;
  display: none;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/icons/burger.svg");
  border: none;
}
@media (max-width: 767px) {
  .page-header__nav--closed .page-header__toggler {
    display: block;
  }
  .page-header__nav--opened .page-header__toggler {
    display: block;
    background-image: url("../img/icons/close.svg");
  }
}
@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}

.container {
  width: 281px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1220px;
  }
}

.logo:not(.logo__footer) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34px 16px 1fr;
  grid-template-columns: 34px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.logo:link:hover {
  opacity: 0.8;
}
.logo:link:active {
  opacity: 0.6;
}
.logo img {
  display: block;
}

.logo__sign {
  -ms-grid-column-align: center;
      justify-self: center;
}

.logo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .logo__footer {
    padding: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
@media (min-width: 768px) {
  .social {
    padding: 0;
  }
}

.social__item {
  margin: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: block;
  padding: 8px;
  color: #666666;
}
.social__link:hover {
  color: #68b738;
}
.social__link:active {
  color: rgba(104, 183, 56, 0.3);
}
.social__link svg {
  display: block;
}