// Fonts

$font-heading: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

// Colors

$color-black: #000000;
$color-white: #ffffff;

$color-gray-5: #F2F2F2;
$color-gray-10: #e5e5e5;
$color-gray-15: #e6e6e6;
$color-gray-18: #dcdcdc;
$color-gray-20: #d9d9d9;
$color-gray-25: #cdcdcd;
$color-gray-60: #666666;
$color-gray-70: #444444;
$color-gray-85: #222222;
$color-gray-90: #111111;
$color-green: #68b738;
$color-green-1: #5eaa2f;
$color-green-2: #63a63b;


// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;